#juego-info{
    text-align: center;
}
#juego-info img{
    position: relative;
    width: 100%;
    height: auto;
    margin-top: 4.7em;
}
#dato-juego{
    display: flex;
    height: 500px;
}
.informacion{
    width: 50%;
    margin: 1%;
    border: 3px solid black;
    border-radius: 10px;
    background-color: #262525;
    font-size: 1.4rem;
    
}
#boton-compra{
    text-align: center;
}
#boton-compra input{
    padding: 1%;
    width: 20%;
    color: #FE6F27;
    font-size: 1.6rem;
    font-weight: 900;
    border-radius: 10px;
    border: 3px solid black;
}
#boton-compra input:hover{
   background-color: #FE6F27;
   color: #262525;
   cursor: pointer;
}
footer{
    margin-top: 5%;
    background-color: #FE6F27;
    height: 40rem;
    font-size: 1.6rem;
}

