<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Profile
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Home Page</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Página de Registros</ion-card-title>
    </ion-card-header>
    <ion-button routerLink="/registro">
      <ion-icon name="menu-outline"></ion-icon>
      Clickame
    </ion-button>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Página de Autentication</ion-card-title>
    </ion-card-header>
    <ion-button routerLink="/autentication">
      <ion-icon name="menu-outline"></ion-icon>
      Clickame
    </ion-button>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Página de Perfil</ion-card-title>
    </ion-card-header>
    <ion-button routerLink="/profile">
      <ion-icon name="menu-outline"></ion-icon>
      Clickame
    </ion-button>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Página de Maestro</ion-card-title>
    </ion-card-header>
    <ion-button routerLink="/master">
      <ion-icon name="menu-outline"></ion-icon>
      Clickame
    </ion-button>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Página de Detalle</ion-card-title>
    </ion-card-header>
    <ion-button routerLink="/detail">
      <ion-icon name="menu-outline"></ion-icon>
      Clickame
    </ion-button>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Página de Favorites</ion-card-title>
    </ion-card-header>
    <ion-button routerLink="/favourite">
      <ion-icon name="menu-outline"></ion-icon>
      Clickame
    </ion-button>
  </ion-card>
</ion-content>

