

<div id="cabecera">
    <div class="circulo">1</div>
    <div class="flecha"></div>
    <div class="circulo">2</div>
    <div class="flecha"></div>
    <div class="circulo">3</div>
</div>

<h3 style="margin-left: 2%; margin-top: 2%;">Dirección de facturación</h3>

<div id="container">
    <form action="" id="formulario-domicilio" [formGroup]="miFormulario">
        <div>
            <input type="" placeholder="Nombre completo" [ngClass]="{'datos': !nameNoValido, 'datos-mal': nameNoValido}" formControlName="name">
            <i class="fa-sharp fa-solid fa-circle-exclamation"></i>
            <small *ngIf="nameNoValido">Necesita poner un nombre</small>
        </div>
       
        <div>
            <input type="text" placeholder="DNI/CIF/NIF" [ngClass]="{'datos': !dniNoValido, 'datos-mal': dniNoValido}" formControlName="dni" (blur)="miFormulario.get('dni')?.markAsTouched()">
            <small *ngIf="dniNoValido">El dni/nif/cif no es valido</small>

        </div>
        <div>
            <input type="text" placeholder="Dirección" [ngClass]="{'datos': !addresNoValido, 'datos-mal': addresNoValido}" formControlName="addres">
            <small *ngIf="addresNoValido">Necesita poner una direccion</small>
        </div>
        <div>
            <input type="text" placeholder="Teléfono móvil" [ngClass]="{'datos': !phoneNoValido, 'datos-mal': phoneNoValido}" formControlName="phone" maxlength="9">
            <small *ngIf="phoneNoValido">Numero de telefono invalido</small>
        </div>
        
        <div>
            <select name="combo" [ngClass]="{'datos': !countryNoValido, 'datos-mal': countryNoValido}" id="pais" formControlName="country">
                <option value="" selected disabled>Selecciona una opción</option>
                <option >España</option>
                <option >Francia</option>
                <option >Alemania</option>
                <option >Inglaterra</option>
                <option >Italia</option>
            </select> 
            <small *ngIf="countryNoValido">Debe seleccionar un pais</small>
        </div>
            

        <div>
            <input type="text" placeholder="Correo electronico" [ngClass]="{'datos': !emailNoValido, 'datos-mal': emailNoValido}" formControlName="email">
            <small *ngIf="emailNoValido">No es un email valido</small>
        </div>
    </form>

    <div id="bloque-pagar">
        
            <section class="resumen-pago">
                <span>Total</span>
            </section>
         
            <button type="submit" id="boton-pago" (click)="guardarDatos()" [disabled]="miFormulario.invalid">Pagar</button>
            <section id="despues-pagar">
                <div class="linea"></div>
                <div id="letra">o</div>
                <div class="linea"></div>
            </section> 
            <div style="text-align: center" (click)="clickSeguirComprando()">Seguir comprando</div>
          
    </div>

    <form id="metodo-pago">
        <h3 style="grid-column: 1/3;">Método de pago</h3>
    
        
        <label for="" class="etiqueta">Número de tarjeta</label>
        <input type="text" class="datos" placeholder="1234 55678 9012 3456">
        
        
        <label for="" class="etiqueta">Fecha expiración</label>
        <input type="text" class="datos" placeholder="MM/AA">
        
        <label for="" class="etiqueta">CVC/CVV</label>
        <input type="text" class="datos" placeholder="3 dígitos">
        
        <label for="" class="etiqueta" >Nombre en la tarjeta</label>
        <input type="text" class="datos" placeholder="Antonio Miranda">
        
        
    </form>
    <div id="promocion">Promocion</div>
</div>

