<nav id="cabecera_nologin">
  <div class="left-elements">
    <div class="toggle-btn">
      <label for="sideButton">&#9776; Todas las categorias</label>
    </div>
    <form (submit)="onSearchSubmit()" method="get">
      <div class="searchbar">
        <input type="text" class="searchbarinput" name="game" placeholder="Search" id="searchInput">
        <button type="submit" class="searchbarbutton">
          <i class="material-icons">search</i>
        </button>
      </div>
    </form>
  </div>
  <div class="center-element">
    <h1 class="MainNames"><a href="#"> GameMall</a></h1>
  </div>
  <div class="right-elements">
    <button (click)="onButtonClickLogin()">Login</button>
    <button (click)="onButtonClickRegister()">Registrarse</button>
  </div>
</nav>