<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button routerLink="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Profile</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card>
    <ion-card-header>
      <ion-card-title>My Profile</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Name: John Doe</p>
      <p>Email: john.doe@example.com</p>
      <p>Phone: 555-1234</p>
    </ion-card-content>
    
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Editar Perfil</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <form>
        <label for="nombre">Nombre:</label>
        <input type="text" id="nombre" name="nombre"><br>
    
        <label for="email">Email:</label>
        <input type="email" id="email" name="email"><br>
    
        <label for="telefono">Teléfono:</label>
        <input type="tel" id="telefono" name="telefono"><br>
    
        <input type="submit" value="Guardar cambios">
      </form>
    </ion-card-content>
    
  </ion-card>
</ion-content>

