<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button routerLink="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Profile</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card>
    <ion-card-header>
      <ion-card-title>My Profile</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Nombre: {{name}}</p>
      <p>Email: {{email}}</p>
    </ion-card-content>
    
</ion-card>

<ion-content>

      <ion-title size="large">Editar Perfil</ion-title>

  <ion-list>
    <ion-item>
      <ion-label position="stacked">Nombre</ion-label>
      <ion-input [(ngModel)]="name" type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">email</ion-label>
      <ion-input [(ngModel)]="email" type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Contraseña</ion-label>
      <ion-input [(ngModel)]="password" type="password"></ion-input>
    </ion-item>

      
  </ion-list>

  <ion-button expand="block" (click)="updateProfile()">Guardar cambios</ion-button>
</ion-content>

