<section id="containerbuscado">
  <div *ngFor="let item of buscado">
    <div>
      <img (click)="onButtonClickSeleccionado(item)" [src]="item.img" alt="Buscado {{item.id}}" class="my-custom-img">
    </div>  
    <span style=display:flex;justify-content:space-between;>
      <h2>{{ item.title }}</h2>
      <h2>{{ item.price }}</h2>
    </span>
  </div>
</section>
<div id="navegacion">
  <div id="prev">
    <a href="#" class="navegaciona">ANTERIOR</a>
  </div>
  <div id="next">
    <a href="#" class="navegaciona">SIGUIENTE</a>
  </div>
</div>


