img{
    max-width: 461.23px;
    height: 264.3px;
    
}
img:hover {
    transform: scale(1.1);
    transition: transform 0.5s;
}
  
#containerbuscado{
    margin-top: 7%;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    gap:20px;
    margin:4%
}

#prev,
#next{
    display:inline-block;
    margin-left:10%;
    margin-right:10%;
    margin-bottom: 5%;

}

#next{
    float:right;
}
#navegacion{
    margin: auto;
}
.navegaciona {
    text-decoration: none;
    color: #FE6F27;
}

.my-custom-img{
    cursor:pointer;
    width: 100%;
    border-radius: 10px;
}