<div class="modal-register center-modal">
    <h1>Registrarse</h1>
    <form class="needs-validation" id="registration-form">
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label form-labels">Email address</label>
            <input type="email" class="form-control" placeholder="name@example.com" id="registerEmail" required>
        </div>

        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label form-labels">Username</label>
            <input type="text" class="form-control " id="registerName" placeholder="Pepe Fernandez" required>
        </div>

        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label form-labels">Password</label>
            <input type="password" class="form-control" id="registerPassword" placeholder="Introduce Password" required>
        </div>

        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label form-labels">Repeat password</label>
            <input type="password" class="form-control" id="registerRepeatPassword" placeholder="Repeat Password" required>
        </div>

        <div class="login-buttons">
            <button class="loginBtn">Iniciar Sessión</button>
            <button class="registerBtn" type="submit">Registrar</button>
        </div>
    </form>
</div>