<div class="slider">
    <div class="slider-wrapper">
    </div>
    <button class="prev">Previous</button>
    <button class="next">Next</button>
  </div>
  <div class="tendencias">
    <h1>Tendencias</h1>
    <hr class="orangeLine">
    <div class="row">
      <div class="column" *ngFor="let tendencia of tendencias.slice(0, 3)">
        <img src="{{tendencia.image_url}}" alt="Tendencia {{tendencia.id}}" class="img-resize">
      </div>
    </div> 
    <div class="row">
      <div class="column" *ngFor="let tendencia of tendencias.slice(3, 6)">
        <img src="{{tendencia.image_url}}" alt="Tendencia {{tendencia.id}}" class="img-resize">
      </div>
    </div>
    <div class="row">
      <div class="column" *ngFor="let tendencia of tendencias.slice(6, 9)">
        <img src="{{tendencia.image_url}}" alt="Tendencia {{tendencia.id}}" class="img-resize">
      </div>
    </div>
  </div>
  <div class="topsales">
    <h1>Top Ventas</h1>
    <hr class="orangeLine">
    <div class="row">
      <div class="column" *ngFor="let venta of topVentas.slice(0, 3)">
        <img src="{{venta.image_url}}" alt="Venta {{venta.id}}" class="img-resize">
      </div>
    </div>
    <div class="row">
      <div class="column" *ngFor="let venta of topVentas.slice(3, 6)">
        <img src="{{venta.image_url}}" alt="Venta {{venta.id}}" class="img-resize">
      </div>
    </div>
    <div class="row">
      <div class="column" *ngFor="let venta of topVentas.slice(6, 9)">
        <img src="{{venta.image_url}}" alt="Venta {{venta.id}}" class="img-resize">
      </div>
    </div>
  </div>  
  <footer>
    <img src="https://cdn.discordapp.com/attachments/895966492410118194/1095657845573287998/vector1.png">
    <div class="footerText">
        <h1>GameMall</h1>
        <i class="fas fa-cloud"></i>
        <i class="fas fa-check"></i>
        <div class="footerList">
            <ul>
                <li>HomePage</li>
                <li>Contact Us</li>
                <li>Register</li>
                <li>FAQ</li>
            </ul>
        </div>
    </div>
  </footer>