<div id="juego-info">
    <img [src]="item.img" alt="Imagen seleccionada">
</div>
<div id="dato-juego">
    <section class="informacion" id="dato1">
        Descripción Del Producto <br>
        -Historia<br>
        -Tipo de Juego: Acción,Historia,Multijugador, etc <br>
        -
        </section>
    <section class="informacion" id="dato2">
        Información del precio y pago <br>
        -IVA <br>
        -Metodos de pago <br>
        -Numero de stock <br>
        </section>
</div>
<div id="boton-compra">
    <input type="submit" (click)="clickCompra()"   value="Comprar">
</div>
<footer>
    PIE de  Pagina: Redes Sociales y Medios de Atención Al cliente <br>
    Contact us
</footer>