<div class="modal-login center-modal">
    <h1>Iniciar Session</h1>
    <form class="needs-validation" id="login-form" [formGroup]="miFormulario">
        <div class="mb-3">
            <label for="loginEmail" class="form-label form-labels">Email address</label>
            <input type="email" class="form-control " id="loginEmail" placeholder="name@example.com" formControlName="email">
        </div>

        <div class="mb-3">
            <label for="loginPassword" class="form-label form-labels">Password</label>
            <input type="password" class="form-control" id="loginPassword" placeholder="Introduce Password" formControlName="password">
        </div>

        <div class="login-buttons">
            <button class="loginBtn" type="submit" (click)="onSubmit()">Iniciar Sessión</button>
            <button class="registerBtn">Registrar</button>
        </div>
    </form>
</div>
